header {
  width: 1024px;
  margin: 30px auto;    /* colocou 30px em cima e embaixo */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

    header nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;   /* Retirou as bolinhas do menu */
    }

    header nav ul li a {
        margin: 0 15px;
        color: blue;
    }
