header section {
  justify-content: space-between;
  align-items: center;
}

    header nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;   /* Retirou as bolinhas do menu */
        /* FALTOU AQUI UM align-items: center; que ele disse que vai dar um problema lรก adiante */
    }

    header nav ul li a {
        margin: 0 15px;
        color: blue;
    }

   
