.sobre-web-design {
    justify-content: space-between; /* o professor mandou botar mas não mudou nada */
    align-items: center;
}

.sobre-web-design article {
    width: 250px;   /* estabeleceu a largura de 250px para o article */
}

.sobre-web-design article h1 {
    font-size: 70px;
    line-height: 90%;   /* altura entre as linhas de um texto */
    font-weight: 400;
    color: #336;
}

.sobre-web-design article h2 {
    font-size: 30px;
    text-transform: uppercase;  /* tranforma todos caracteres em maiúsculas */
    letter-spacing: 2px;    /* espaçamento entre letras de uma palavra */
    line-height: 200%;
    font-weight: 400;
    color: #39c;
}

.sobre-web-design article p {
    color: blue;
    font-weight: 400;
    margin: 10px 0 40px 0;
}

.sobre-web-design figcaption img {
    width: 700px;
}