@media ( max-width: 1900px) {
    body {
        background-size: 880px;
    }
}

@media (max-width: 1700px) {
    body {
        background-size: 800px;
    }
}

@media (max-width: 1550px) {
    body {
        background-size: 700px;
    }
}

@media (max-width: 1350px) {
    body {
        background-size: 620px;
    }
}

@media (max-width: 1200px) {
    body {
        background-size: 580px;
    }
}

@media (max-width: 1100px) {
    body {
        background-position-x: -100px;
    }
}