/* Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Componentes */
@import './header.css';
@import './buttons.css';

/* RESET do CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;  /* retirou o sublinhado do menu */
    font-family: "Source Sans 3", sans-serif;
}

.container {
    width: 1024px;
    margin: 30px auto;    /* colocou 30px em cima e embaixo. Essa class container entrou no header e no main */
    display: flex;
    flex-direction: column; /* aqui ele criou uma section dentro do header e fez comando header section { */
}

.row {
    display: flex;
    flex-direction: row;
}